.app {
    padding: 12px;
    background-color: #000000;
    color: #fafafa;
    min-height: 100vh;
  }
  .card {
    border: 1px solid #ec3535;
    padding: 12px;
    border-radius: 32px;
    margin-top: 42px;
  }
  .input {
    width: 100%;
    max-width: 240px;
    padding: 12px 6px;
    border-radius: 24px;
  }
  .my {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .rate {
    margin-left: 12px;
  }